@import "tailwindcss";

@layer utilities {
    .scrollbar-modern {
        --sb-track-color: #3e3e3e;
        --sb-thumb-color: #e5e7eb20;
        --sb-size: 8px;
        --br-radius: 1px;
    }

    .scrollbar-modern::-webkit-scrollbar {
        width: var(--sb-size);
    }

    .scrollbar-modern::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: var(--br-radius);
    }

    .scrollbar-modern::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: var(--br-radius);
    }
}
